@font-face {
    font-family: "font-1";
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: "font-1", Arial;
}
li {
    list-style: none;

}
a, 
a:visited {
    text-decoration: none;
    color: whitesmoke;   
    transition: 0.3s;
}
a:hover {
    color: #2128bd;
    font-size: 1.3rem;
}
body {
    background: rgb(27, 27, 27);
    color: whitesmoke;
    min-height: 100vh;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    margin: 10px 20px;
}

nav ul {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-between;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
h1 {
    font-size: 5rem;
}
.main-left h2 {
    color: rgb(71, 77, 255);
    font-size: 1.8rem;
}
.main-left p {
    font-size: 0.8rem;
}
.main-right img {
    width: 100%;
}

footer {
    display: grid;
    grid-template-columns: 33% 67%;
    background: rgb(7, 7, 7);
    border-radius: 10px;
}

.footer-left ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 160px;
}

.footer-left li {
    background: #474DFF;
    width: 170px;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-right ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 160px;
}

footer img {
    height: 60px;
}

/* ************** RESPONSIVE *************** */

/* Tablet */

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }
    .main-left h2 {
        font-size: 1rem;
    }
    .main-left p {
        font-size: 0.7rem;
    }
    footer {
        grid-template-columns: 40% 60%;
    }
    footer img {
        height: 35px;
    }

}



/* Mobile */

@media screen and (max-width: 570px) {
    nav {
        margin: 10px 5px;
    }
    nav li {
        font-size: 0.8rem;
    }
    a:hover {
        font-size: 1rem;
    }
    section {
        grid-template-columns: 1fr;
    }
    .main-right img {
        width: 65%;
        margin: 0 auto;
        display: block;
    }
    footer {
        grid-template-columns: 1fr;
    }
    .footer-left ul {
        align-items: center;
    }
}