@font-face {
    font-family: "font-1";
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: "font-1", Arial;
}
li {
    list-style: none;

}
a, 
a:visited {
    text-decoration: none;
    color: whitesmoke;   
}
body {
    background: rgb(27, 27, 27);
    color: whitesmoke;
}


